{
  "extends": ["next", "next/core-web-vitals"],
  "rules":{
    "@next/next/no-css-tags": "off",
    "@next/next/no-sync-scripts": "off",
    "react/display-name": "off",
    "@next/next/no-img-element": "off",
    "react-hooks/rules-of-hooks": "off",
    "react/jsx-no-duplicate-props": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
